/* CSS is all entered here and then pulled/referenced within layout.js */
.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  padding-left: 3%;
  background-color: #8c0b42;
  outline-color: #8c0b42;
  z-index: +1;
}

.navLinks {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 0.6em;

}

.navLinkItem {
  padding-right: 2rem;
  padding-left: 0;
  margin: 0;
}

.navLinkText {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.container{
  width: 100%;
  height: 100%;
}